In [1]:
import pandas as pd

In [6]:
df = pd.read_csv ("E:/sample_submmission.csv")

In [8]:
df.head(10)

   Patient_ID  Health_Camp_ID  Outcome
0      505701            6548      0.5
1      500633            6584      0.5
2      506945            6582      0.5
3      497447            6551      0.5
4      496446            6533      0.5
5      494067            6548      0.5
6      498974            6574      0.5
7      525212            6567      0.5
8      507387            6583      0.5
9      517714            6573      0.5

In [9]:
x = df.iloc[:, 1].values

In [10]:
def cetak(x):
    print(x)

In [11]:
cetak(x)

[6548 6584 6582 ... 6584 6567 6584]